<div class="comments">
  {{#each this}}
  <section class="comment" data-id="{{id}}">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
    <div>
      <button type="submit" class="edit-button">Edit</button>
      <button type="button" class="delete-comment-btn">Delete</button>
    </div>
   
  </section>

  {{/each}}
</div>

<script src="/js/comment.js"></script>
<!--
<div class="login-card">

    <form class="form edit-form">

      <input class="form-input" type="hidden" id="post-id" value='{{post_id}}'/>


<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Content:</span>
  </div>

  <textarea class="form-control" type="text" id="body" aria-label="With textarea" required></textarea>
</div>



      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

