{{#if posts.length}}
<ol>

    <a href="/dashboard/edit"><button class="btn btn-dark">Edit a Post</button></a>

    {{#each posts as |post|}}
    <li>
        <a href="/categories/{{post.category_id}}/posts/{{post.id}}">{{post.title}}</a>
        by {{post.user.username}}

        <p>{{{trimString post.body}}}...</p>
    </li>
    {{/each}}
</ol>
{{/if}}