<article class="post">
  <div class="title">
    {{post.title}}
  </div>
  <div class="meta">
    Posted by {{post.user.username}} on {{post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
  <p class="post-body">
    {{post.body}}
  </p>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

<script src="/comment.js"></script>